<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gallery Application</title> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:insert="fragments/navigationBar.html :: navigationBar"></div>

<h1 class="container m-2 text-success" th:text="${info}"></h1>

</body>
</html>